* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family:"Open Sans", sans-serif;
}
h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #230B20;
}
h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color:#4F394D;
    padding-top: 10px;
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.nav-link,li, a{
   font-weight: 500;
   font-size: 16px;
   text-decoration: none;
}
header {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 15px 10%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.582);
}
.logo {
    cursor: pointer;
    margin-right: auto;
    
}
.nav-link {
    list-style: none;
    padding-top: 12px;
    
}
.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-link li a {
    font-size: 16px;
    font-weight: 600;
    font-stretch: 100%;
    line-height: 24px;
    transition: all 0.3s ease 0s;
    color: rgba(17, 17, 17, 0.904);
}
.nav-link li a:hover {
      color: #B9311E;
}
.cta {
    font-size: 17px;
    font-weight: 600;
    padding: 14px 20px;
    color: #fff;
    background-color: #e4620b;
    border-radius: 4px;
    
}
.cta:hover {
    background-color: #cc2b15;
}
button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
} 
 /* section-1 */
 .section-1 {
     margin-top: 4px;
     background-color: #F7F6F7;
     text-align: center;
     padding: 0 30px 30px;
     height:700px;
 }
.header-text {
    padding-top: 50px;
}
.lists {
    height: 300px;
}
 .listings {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 35px 50px 10px;
     margin:12px 240px;
    
 }
 .listing {
     flex-grow: 1;
 }
 .icons {
     background-color: #fff;
     padding: 10px;
     border: 3px solid rgba(194, 188, 188, 0.911);
     border-radius: 35px;
 }
 .firsth3 {
     color:#4F394D;
     font-weight: 700;
 }
.secondh3 {
    color: #b2afb4;
}
.cta-1 {
    font-size: 23px;
    font-weight: 600;
    padding: 25px 40px;
    color: #fff;
    background-color: #e4620b;
    border-radius: 12px;
}
.cta-1:hover {
    background-color: #cc2b15;
}
.mini-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.mini-banner1 {
    width: 15%;
    padding:8px;
    border-radius: 5px;
    text-align: left;
    background-color: #fff;
    margin-right: 10px;
    

}
.mini-image {
    width: 40px;
    float:left;
    margin-right: 10px;
    padding: 10px 0 0 9px;
   
}
.para {
    color:rgba(97, 95, 95, 0.603);
    font-size: 12px;
}
.mini-banner2 {
    width: 14%;
    padding:8px;
    border-radius: 5px;
    text-align: left;
    background-color: #fff;
    margin-right: 10px;
}
.mini-banner3 {
    width: 14%;
    padding:8px;
    border-radius: 5px;
    text-align: left;
    background-color: #fff;
}

/* video player */
.landing-image {
     width: 60%;
     position: relative;
     left: 263px;
     top: -86px;
    margin-bottom: 40px;
    box-shadow: 0px 5px 30px grey;
}
.play-button {
    width: 100px;
    position: relative;
    top: -318px;
    right: 195px;
    background-color: #FFF;
    padding: 10px; 
    border:5px solid rgba(211, 175, 17, 0.295);   
    border-radius: 50px;
}
.play-button:hover {
    transform: scale(0.95);
    background-color:rgba(247, 230, 230, 0.959);

}

/* feature section */
.feature-main {
    height: 1100px;
}
.feature-card {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 20px 60px 40px;
    
}
.feature {
   width: 27%;
   margin: 7px;
    padding: 17px;
}
.feature-icon {
    width: 50px;
    float: left;
    margin: 15px 10px 0 0 ;
}
.feature-head {
    
}
.feature-h3 {
    margin-bottom: 10px;
    text-align: left;
    font-weight: 700;
    color:black;
}
.feature-h3:hover {
    color:#e4620b;
}
.feature-para {
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
}
.card-para {
    text-align: left;
    margin-left: 62px;
    line-height: 1.5;
    color: #736272
}

/* feature button */
.feature-button {
    text-align: center;
}
.feature-button a {
    margin-left: 20px;
}

/* Testimonials*/

.testimonial {
    background-color: #F7F6F7;
    width:100vw;
    height:90vh;
    padding-top: 70px;
}
.test-head {
    margin-bottom: 30px;
}

.quote-icon {
    width: 25px;
    float: left;
    margin-right: 20px;
}
.testcard {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
.test-card {
    width: 25%;
    height: 150px;
    background-color: #fff;
    margin: 0 10px 1px 0;
    padding: 30px;
    box-shadow: 0px 3px 4px rgba(128, 128, 128, 0.24);
    border-radius: 10px;
    
}
.test-card p {
    margin-left: 50px;
}

.pro-image {
    width: 40px;
    border-radius: 20px;
    float: left;
    margin-top: 20px;
}
.profile h3 {
    text-align: left;
    margin-left: 60px;
}
.profile p {
    margin-left: 60px;
    font-size: 13px;
}

/* Template section */

.template-section {
    margin: 0 90px 0;
}
.template-heading {
    text-align: center;
}
.template-heading h1 {
    font-size: 30px;
    margin-top: 100px;
}
.template-heading p {
    padding: 10px 20px 40px;
    margin-bottom: 10px;
}
.template1 {
    display: flex;
    
}
.template-text {
    padding: 70px 90px 40px;
}
.template-text h2 {
    text-align: left;
    padding-bottom: 15px;
    color: #230B20;
    
}
.template-text p {
    line-height: 1.5;
    color: #554755;
    
}
/* ============================== */
/* Section 5 ==================== */
/* ============================== */
.section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F394D;
    height: 200px;
    

}
.section5-h1 {
   
    width: 65%;
    
}
.section5-h1 h1 {
    font-size: 28px;
    line-height: 42px;
    padding: 0 130px 0 90px;
    text-align: left;
    color: #fff;
    
}
.section5-btn {
    width: 35%;

}
/* ============================== */
/* faq ========================== */
/* ============================== */
.faq-head {
    text-align: center;
    margin-top: 80px;
}
.faq-head h1 {
    font-size: 34px;
    margin-bottom: 15px;
}
.faq-head p {
    margin-bottom: 40px;
}
.faq-link{
    color:#e4620b;
    text-decoration: underline;
}
.accord {
    margin: 0 300px;
}

.accordion {
    background-color: #fff;
    color:#000;
    cursor: pointer;
    padding: 24px 24px 24px 0;
    width: 100%;
    text-align: left;
    border-top: 1px solid rgba(160, 158, 158, 0.356);
    outline: none;
    transition: 0.4s;
    font-size: 16px;
    font-weight: 650;
    font-family: Open Sans;
}
.active, .accordion:hover {
    color:#e4620b
}
/* to hide the panel */

.panel {
    padding: 0 81px 20px 0;
    background-color: white;
    color:#555155;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  /* to use signs + and */
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 9px;
    color: #e4620b;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #e4620b;
  }